html{
	font-family:Roboto
}

body{
	background-image: url("../res/udyr.jpg");
	background-repeat:no-repeat;
	background-size: cover;
}

input{
	width: 60%;
 	margin-top: 10px;
	margin-bottom: 10px;
	padding: 3px;
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 20px;
}

.page-header{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align:center;
	margin: 0px;
	background-color: #0068bd;
	font-size: 40px;
	color: white;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.jumbotron {
	padding: 0px;
	width: 700px;
	border-radius: 15px;
	margin-bottom: 0px;
}

.vertical-center {
	min-height: 100%;   /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh;  /* These two lines are counted as one :-)       */

	display: flex;
	justify-content: center;
	align-items: center;
}

.center-block{
	width: 60%;
}

